# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.env/
venv/
.env.bak/
.venv/

# ======================
# Flask
# ======================
instance/
*.db
*.sqlite3

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Sistema
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# ZIPs / builds
# ======================
*.zip

app.py
forms.py
templates/cinepolis.html
