{% extends 'layout.html' %}
{% block content %}
{% import '_macros.html' as macro %}


<form method="post" action="" novalidate>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    {{ macro.camposNuevos(form.matricula) }}
    {{ macro.camposNuevos(form.nombre) }}
    {{ macro.camposNuevos(form.apellido) }}
    {{ macro.camposNuevos(form.correo) }}

    <input type="submit" value="Guardar" class="btn btn-primary">
</form>

<br>
<h2>Matricula: {{matricula}}</h2>
<br>
<h2>Nombre: {{nombre}}</h2>
<br>
<h2>Apellido: {{apellido}}</h2>
<br>
<h2>Correo: {{correo}}</h2>
<br>
{% endblock %}